<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ResourceGroupName" value=""/>
    <add key="VSTS_AGENT_INPUT_URL" value=""/>
    <add key="VSTS_AGENT_INPUT_TOKEN" value=""/>
    <add key="BuildServerImage" value=""/>
    <add key="RegistryUrl" value=""/>
    <add key="RegistryUser" value=""/>
    <add key="RegistryPassword" value=""/>
  </appSettings>
</configuration>
